<div class="header">
    <div class="headerImg">
    <h1>Reddin't</h1>
    <img src="https://preview.redd.it/erilssnh17u71.png?auto=webp&s=640cdf9a51b2bd7a6d2f574b244fc9652ff710c6" alt="logo">
    </div>  
    <table>
        <tr>
            <td>
                <button routerLink="signup">Sign up here</button>
                <button routerLink="login">Log in Here</button>
                <button routerLink="login">Create subreddint</button>
            </td>
        </tr>
    </table>
</div>
