<div class="gdiv" >
    <mat-card class="postContainer">
        <mat-card-title>{{postTitle}}</mat-card-title>
        <mat-card-subtitle>{{postOwner}}</mat-card-subtitle>
        <p>{{postBody}}</p>
        <form [formGroup]="form" (submit)="sendData()">
            <div>
                <label for="description" class="w-100">Comment this post: 
                    <div>
                        <textarea type="text" formControlName="body" placeholder="What are your thoughts?"></textarea>
                    </div>
                </label>
            </div>
                <button class="subButton" type="submit" >Submit</button>
        </form>
    </mat-card>
    <mat-card *ngFor="let element of comments" class="postContainer">
        <div *ngIf="element.owner then getName(element.owner)">
            <mat-card-subtitle>getName(element.owner)</mat-card-subtitle>
        </div>
        <p>{{element.body}}</p> 
        <mat-card-actions>
            <button mat-button (click)="downvote(element._id)">⇩</button>
            <a class="voteCounter">{{element.upvotes - element.downvotes}}</a>
            <button mat-button (click)="upvote(element._id)">⇧</button>
        </mat-card-actions>
    </mat-card>
</div>