<div class="gdiv">
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file" id="file" (change)="handleFileInput($event)" accept="image/png, image/gif, image/jpeg">
        <button (click)="uploadFile()">Actualizar</button>
    </div>

    <mat-card class="postContainer" *ngIf="user !== null">
        <img [src]="user.avatar" alt="alien" class="profileImage" />
        <div class="text">
            <mat-card-title>{{ user.username }}</mat-card-title>
            <mat-card-subtitle>karma: {{ user.karma }}</mat-card-subtitle>
        </div>
    </mat-card>
</div>