.gdiv{
    padding-top: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    color: white;
    height: 100vh;
}


form{
    width: 600px;
    margin: 0 auto;

    mat-form-field{
        width: 100%;
    }
}

.input {
    width: 60%;
    margin-top: 1rem;
}