<div class="gdiv">
  <form [formGroup]="form" (submit)="sendData()">
    <input
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
      class="form-control input"
    />

    <input
      type="text"
      name="email"
      placeholder="Email"
      formControlName="email"
      class="form-control input"
    />

    <input
      type="password"
      name="password"
      placeholder="Password"
      formControlName="password"
      class="form-control input"
    />

    <input
      type="password"
      name="confirm"
      placeholder="Confirm password"
      formControlName="confirm"
      class="form-control input"
    />

    <div>
      <input
        type="checkbox"
        name="terms"
        id="cbox"
        formControlName="terms"
        class="form-check-input"
      /><label for="cbox">Aceptar terminos y condiciones</label>
    </div>

    <button type="submit" class="btn btn-danger btn-block">Sign up</button>
    <div>
      <span *ngIf="form.errors && form.errors['passwordMismatch']"
        >Passwords don't match</span
      >
    </div>
    <div>
      <span *ngIf="error">{{ error }}</span>
    </div>
    <div>Have an account? <a routerLink="/login">Log in</a></div>
  </form>
</div>
