
<div class="gdiv" >

    <div *ngIf="loading" class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div class="posts" *ngIf="!loading" >
        <ul>
            <li *ngFor="let element of posts" class="postContainer">
            <h1>{{element.title}}</h1>
            <a [routerLink]="['/subreddint' , element.subreddint.name]">r/{{element.subreddint.name}}</a>
            <p>{{element.body}}</p>
            <br>
            <button (click)="downvote(element._id)">⇩</button>
            <a class="voteCounter">{{element.upvotes - element.downvotes}}</a>
            <button (click)="upvote(element._id)">⇧</button>
        </li>
        </ul> 
        
    </div>
</div>