<div class="gdiv">
    <form  [formGroup]="form" (submit)="login()">
        <div>
            <label for="email">Email: </label>
            <input formControlName="email" type="text" name="email" placeholder="Email" class="form-control input"> 
        </div>
        <div>
            <label for="password">Password: </label>
            <input  formControlName="password" type="password" name="password" placeholder="Password" class="form-control input"> 
        </div>
        <div class="mt-5">
            <button type="submit" class="btn btn-danger btn-block">Log in</button>
        </div>
        <div>
            Dont have an account? <a routerLink="/signup">Sign up here</a>
        </div>
        
    </form>
</div>