<div class="gdiv">
    <form  [formGroup]="form" (submit)="login()">


        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email: </mat-label>
                <input matInput formControlName="email" type="text" name="email" placeholder="Email"> 
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password: </mat-label>
                <input matInput formControlName="password" type="password" name="password" placeholder="Password">
                <mat-icon matSuffix>key</mat-icon>
            </mat-form-field>
             
        </div>
        <div class="mt-5">
            <button type="submit" class="btn btn-danger btn-block">Log in</button>
        </div>
        <div>
            Dont have an account? <a routerLink="/signup">Sign up here</a>
        </div>
        
    </form>
