<div class="gdiv">
    <form (submit)="login()">
        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" placeholder="Email"> 
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="Password"> 
        </div>
        <div>
            <button>Log in</button>
        </div>
        <div>
            Dont have an account? <a routerLink="/signup">Sign up here</a>
        </div>
        
    </form>
</div>