<div class="division"></div>
<div class="gdiv">
    <i class="fas fa-h-square    "></i><div>
        <div>
            <div class="title">
                <div class="Hbutton">
                    <a [routerLink]="'/create-post/'+subreddintName" style="text-decoration: none" class="createButton">Create Post</a>
                </div>
                <h1 class="title">{{subreddintName}}</h1>
                <p>{{subreddintNamelow}}</p>
            </div>
            <hr>
            <div>
                <ul>
                    <li *ngFor="let element of posts" class="postContainer">
                    <h1 class="postT">{{element.title}}</h1>
                    <p class="body">{{element.body}}</p>
                    <br>
                    <button (click)="downvote(element._id)">⇩</button>
                    <a class="voteCounter">{{element.upvotes - element.downvotes}}</a>
                    <button (click)="upvote(element._id)">⇧</button>
                </li>
                </ul>
                
            </div>                     
        </div>
    </div>
</div>
