<div class="gdiv">
    <i class="fas fa-h-square    "></i><div>
        <div class="division"></div>
        <div>
            <div class="title">
                <h1 class="title">{{subreddintName}}</h1>
                <p>{{subreddintNamelow}}</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let element of posts" class="postContainer">
                    <h1>{{element.title}}</h1>
                    <p>{{element.body}}</p>
                    <br>
                    <button (click)="downvote()">⇩</button>
                    <a class="voteCounter">{{element.upvotes}}</a>
                    <button (click)="upvote()">⇧</button>
                </li>
                </ul>
                
            </div>            
            <div class="creator">
                <div class="Hbutton">
                    <a [routerLink]="'/create-post/'+subreddintName" style="text-decoration: none" class="createButton">Create Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
